*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/
build.gradle
gradle/
gradle.properties
gradlew
gradlew.bat
settings.gradle
app/build
app/libs
app/src/test
app/src/androidTest
app/src/main/jniLibs
.settings\org.eclipse.buildship.core.prefs

.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.project
app/.settings/org.eclipse.buildship.core.prefs
*.pro
*.png
